{% extends "../base.html" %}
{% load mathfilters %}

{% block csslink %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
			<div id="board" class="board-form">
				<table class="tbl-ex">
					<tr>
						<th colspan="2">글보기</th>
					</tr>
					<tr>
						<td class="label">제목</td>
						<td>{{ board.title }}</td>
					</tr>
					<tr>
						<td class="label">내용</td>
						<td>
							<div class="view-content">
								<!-- 개행 문자 처리용-->
								{{ board.content | linebreaksbr}}
							</div>
						</td>
					</tr>
				</table>
				<div class="bottom">
					<a href="/board">글목록</a>
					{% if board.user_id == request.session.authuser.id %}
						<a href="/board/modify/{{ board.id }}">글수정</a>
					{% endif %}
					<a href="/board/reply/{{ board.id }}">답글쓰기</a>
				</div>
			</div>

{% endblock %}